<nav class="production-navbar">
    <div class="container-fluid px-3 px-lg-4">

        <div class="production-nav-wrapper">

            <div class="production-nav-heading">
                <i class="fa-solid fa-industry me-2"></i>
                Production
            </div>

            <div class="production-nav-links">

                <a href="{% url 'production:dashboard' %}" class="production-nav-link">
                    <i class="fa-solid fa-chart-line"></i>
                    <span>Dashboard</span>
                </a>

                <a href="{% url 'production:department_selection' 'daily' %}" class="production-nav-link">
                    <i class="fa-solid fa-calendar-day"></i>
                    <span>Daily Entry</span>
                </a>

                <a href="{% url 'production:department_selection' 'shift' %}" class="production-nav-link">
                    <i class="fa-solid fa-clock"></i>
                    <span>Shift Entry</span>
                </a>

                <a href="{% url 'production:department_selection' 'target' %}" class="production-nav-link">
                    <i class="fa-solid fa-bullseye"></i>
                    <span>Targets</span>
                </a>

                <a href="{% url 'production:department_selection' 'rejection' %}" class="production-nav-link">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <span>Rejection</span>
                </a>

                <a href="{% url 'production:department_selection' 'downtime' %}" class="production-nav-link">
                    <i class="fa-solid fa-stopwatch"></i>
                    <span>Downtime</span>
                </a>

                <a href="{% url 'production:department_selection' 'machine-status' %}" class="production-nav-link">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span>Machine Status</span>
                </a>

            </div>
        </div>
    </div>
</nav>