<nav class="module-navbar">
  <div class="container-fluid px-3 px-lg-4">
    <div class="module-nav-wrapper">
      <!-- Module Heading -->
      <div class="module-nav-heading">
        <i class="fa-solid fa-house me-2"></i>
        <span>JKOMS</span>
      </div>
      <!-- Navigation Links -->
      <div class="module-nav-links">
        <a class="module-nav-link class="module-nav-link href="{% url 'home' %}">
          <i class="fa-solid fa-house"></i>
          <span>Home</span>
        </a>
        <a class="module-nav-link class="module-nav-link href="{% url 'production:dashboard' %}">
          <i class="fa-solid fa-industry"></i>
          <span>Production</span>
        </a>
        <a class="module-nav-link class="module-nav-link href="{% url 'quality:dashboard' %}">
          <i class="fa-solid fa-shield-halved"></i>
          <span>Quality</span>
        </a>
        <a class="module-nav-link class="module-nav-link href="#"> 
          <i class="fa-solid fa-flask"></i>
          <span>Technology</span>
        </a>
        <a class="module-nav-link class="module-nav-link href="#">
          <i class="fa-solid fa-gears"></i>
          <span>Engineering</span>
        </a>
        <a class="module-nav-link href="#">
          <i class="fa-solid fa-briefcase"></i>
          <span>Commercial</span>
        </a>
        <a class="module-nav-link href="#">
          <i class="fa-solid fa-users"></i>
          <span>HR</span>
        </a>
        <a class="module-nav-link href="#">
          <i class="fa-solid fa-helmet-safety"></i>
          <span>Safety</span>
        </a>
        <a class="module-nav-link class="module-nav-link" href="{% url 'usermanagement:user_list' %}" >
          <i class="fa-solid fa-user-shield"></i>
          <span>User Management</span>
        </a>
      </div>
    </div>
  </div>
</nav>
